<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/css/lib/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/site/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <div>
          <a class="nav-item cinemania" href="">NETFLIX</a>
        </div>
        <div class="nav-center">
          <a class="nav-item" href="/">Home</a>
          <a class="nav-item" href="/serie/index">Series</a>
          <a class="nav-item" href="/genre/index">Genres</a>
        </div>
        <div>
            <a class="nav-item logo" href=""><img src="/assets/icons/brand-netflix.svg" alt=""></a>
        </div>
      </nav>
    </header>
    {{!-- <main> --}}
      {{{body}}}
    {{!-- </main> --}}
    
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="/assets/js/lib/boostrap/bootstrap.min.js"></script>

  {{#if IsSerieList}}
    <script src="/assets/js/site/main.js"></script>
  {{/if}}
</html>