<div class="content-Details">
  {{#if hasSeries}}
    <div class="container">
      <div class="row justify-content-center align-content-center">
        <div class="card-header text-white text-center">
          <h5 class="font-italic"><i class="fa-solid fa-star"></i>
            {{serie.name}}
            <i class="fa-solid fa-star"></i></h5>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-center">
            <iframe
              width="560"
              height="315"
              src="{{serie.videoUrl}}"
              title=""
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <a href="/" type="submit" class="btn btn-light delete-serie btn-details">Back</a>
      </div>
    </div>
  {{else}}
    <h3 class="title-no_series">There is no series</h3>
  {{/if}}
</div>